<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="login">
        <form action="/login" method="post">
            <div class="heading">
                <h2>Login</h2>
            </div>
            <div class="inputs">
                <input type="text" name="username" id="username" class="username" placeholder="Enter User Name" />
                <input type="password" name="password" id="password" class="password" placeholder="Enter Password" />
            </div>
            <div class="submit">
                <!-- <a href="" name="submit" value="Signup">Signup</a> -->
                <input type="submit" value="Login" name="submit">
                <!-- <button type="submit" name="Submit" value="Submit">Submit</button> -->
                <input type="submit" value="Signup" name="submit">
            </div>
        </form>
    </div>
</body>

</html>