<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
    <div class="login signup">
        <form action="">
            <div class="heading">
                <h2>Signup</h2>
            </div>
            <div class="inputs">
                <input type="text" name="firstName" id="firstName" class="username" placeholder="Enter First Name" />
                <input type="text" name="lastName" id="lastName" class="username" placeholder="Enter Last Name" />
                <select name="userType" id="userType">
                    <option value="Creator">Creator</option>
                    <option value="Responder">Responder</option>
                </select>
                <input type="text" name="userName" id="userName" class="username" placeholder="Enter User Name" />
                <input type="password" name="password" id="password" class="password" placeholder="Enter Password" />
            </div>
            <div class="submit">
                <input type="submit" value="Submit" name="submit">
            </div>
        </form>
    </div>
</body>

</html>