<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
    <style>
        body {
            justify-content: space-between;

        }
    </style>
</head>

<body>
    <div class="emp">
        hello
    </div>
    <div class="survey">
        <form action="">
            <div class="question text">
                <h3>Question - 1</h3>
                <textarea name="" id=""></textarea>
            </div>
            <div class="question text">
                <h3>Question - 2</h3>
                <textarea name="" id=""></textarea>
            </div>
            <div class="question text">
                <h3>Question - 3</h3>
                <textarea name="" id=""></textarea>
            </div>
            <div class="question text">
                <h3>Question - 4</h3>
                <textarea name="" id=""></textarea>
            </div>
            <div class="question text">
                <h3>Question - 5</h3>
                <textarea name="" id=""></textarea>
            </div>
            <div class="question rating">
                <h3>Question - 6</h3>
                <div class="rate">
                    <div class="sgrt">
                        <label for="">1 Star</label>
                        <input type="checkbox" name="" id="">
                    </div>
                    <div class="sgrt">
                        <label for="">2 Star</label>
                        <input type="checkbox" name="" id="">
                    </div>
                    <div class="sgrt">
                        <label for="">3 Star</label>
                        <input type="checkbox" name="" id="">
                    </div>
                    <div class="sgrt">
                        <label for="">4 Star</label>
                        <input type="checkbox" name="" id="">
                    </div>
                    <div class="sgrt">
                        <label for="">5 Star</label>
                        <input type="checkbox" name="" id="">
                    </div>
                </div>
            </div>
            <div class="question rating">
                <h3>Question - 7</h3>
                <div class="rate">
                    <div class="sgrt">
                        <label for="">1 Star</label>
                        <input type="checkbox" name="" id="">
                    </div>
                    <div class="sgrt">
                        <label for="">2 Star</label>
                        <input type="checkbox" name="" id="">
                    </div>
                    <div class="sgrt">
                        <label for="">3 Star</label>
                        <input type="checkbox" name="" id="">
                    </div>
                    <div class="sgrt">
                        <label for="">4 Star</label>
                        <input type="checkbox" name="" id="">
                    </div>
                    <div class="sgrt">
                        <label for="">5 Star</label>
                        <input type="checkbox" name="" id="">
                    </div>
                </div>
            </div>
            <div class="question rating">
                <h3>Question - 8</h3>
                <div class="rate">
                    <div class="sgrt">
                        <label for="">1 Star</label>
                        <input type="checkbox" name="" id="">
                    </div>
                    <div class="sgrt">
                        <label for="">2 Star</label>
                        <input type="checkbox" name="" id="">
                    </div>
                    <div class="sgrt">
                        <label for="">3 Star</label>
                        <input type="checkbox" name="" id="">
                    </div>
                    <div class="sgrt">
                        <label for="">4 Star</label>
                        <input type="checkbox" name="" id="">
                    </div>
                    <div class="sgrt">
                        <label for="">5 Star</label>
                        <input type="checkbox" name="" id="">
                    </div>
                </div>
            </div>
            <div class="question rating">
                <h3>Question - 9</h3>
                <div class="rate">
                    <div class="sgrt">
                        <label for="">1 Star</label>
                        <input type="checkbox" name="" id="">
                    </div>
                    <div class="sgrt">
                        <label for="">2 Star</label>
                        <input type="checkbox" name="" id="">
                    </div>
                    <div class="sgrt">
                        <label for="">3 Star</label>
                        <input type="checkbox" name="" id="">
                    </div>
                    <div class="sgrt">
                        <label for="">4 Star</label>
                        <input type="checkbox" name="" id="">
                    </div>
                    <div class="sgrt">
                        <label for="">5 Star</label>
                        <input type="checkbox" name="" id="">
                    </div>
                </div>
            </div>
            <div class="question rating">
                <h3>Question - 10</h3>
                <div class="rate">
                    <div class="sgrt">
                        <label for="">1 Star</label>
                        <input type="checkbox" name="" id="">
                    </div>
                    <div class="sgrt">
                        <label for="">2 Star</label>
                        <input type="checkbox" name="" id="">
                    </div>
                    <div class="sgrt">
                        <label for="">3 Star</label>
                        <input type="checkbox" name="" id="">
                    </div>
                    <div class="sgrt">
                        <label for="">4 Star</label>
                        <input type="checkbox" name="" id="">
                    </div>
                    <div class="sgrt">
                        <label for="">5 Star</label>
                        <input type="checkbox" name="" id="">
                    </div>
                </div>
            </div>
            <div class="question rating">
                <h3>Question - 11</h3>
                <div class="rate">
                    <div class="sgrt">
                        <label for="">1 Star</label>
                        <input type="radio" name="hi" id="">
                    </div>
                    <div class="sgrt">
                        <label for="">2 Star</label>
                        <input type="radio" name="hi" id="">
                    </div>
                    <div class="sgrt">
                        <label for="">3 Star</label>
                        <input type="radio" name="hi" id="">
                    </div>
                    <div class="sgrt">
                        <label for="">4 Star</label>
                        <input type="radio" name="hi" id="">
                    </div>
                    <div class="sgrt">
                        <label for="">5 Star</label>
                        <input type="radio" name="hi" id="">
                    </div>
                </div>
            </div>
            <div class="question rating">
                <h3>Question - 12</h3>
                <div class="rate">
                    <div class="sgrt">
                        <label for="">1 Star</label>
                        <input type="radio" name="hi" id="">
                    </div>
                    <div class="sgrt">
                        <label for="">2 Star</label>
                        <input type="radio" name="hi" id="">
                    </div>
                    <div class="sgrt">
                        <label for="">3 Star</label>
                        <input type="radio" name="hi" id="">
                    </div>
                    <div class="sgrt">
                        <label for="">4 Star</label>
                        <input type="radio" name="hi" id="">
                    </div>
                    <div class="sgrt">
                        <label for="">5 Star</label>
                        <input type="radio" name="hi" id="">
                    </div>
                </div>
            </div>
            <div class="question rating">
                <h3>Question - 13</h3>
                <div class="rate">
                    <div class="sgrt">
                        <label for="">1 Star</label>
                        <input type="radio" name="" id="">
                    </div>
                    <div class="sgrt">
                        <label for="">2 Star</label>
                        <input type="radio" name="" id="">
                    </div>
                    <div class="sgrt">
                        <label for="">3 Star</label>
                        <input type="radio" name="" id="">
                    </div>
                    <div class="sgrt">
                        <label for="">4 Star</label>
                        <input type="radio" name="" id="">
                    </div>
                    <div class="sgrt">
                        <label for="">5 Star</label>
                        <input type="radio" name="" id="">
                    </div>
                </div>
            </div>
            <div class="question rating">
                <h3>Question - 14</h3>
                <div class="rate">
                    <div class="sgrt">
                        <label for="">1 Star</label>
                        <input type="radio" name="" id="">
                    </div>
                    <div class="sgrt">
                        <label for="">2 Star</label>
                        <input type="radio" name="" id="">
                    </div>
                    <div class="sgrt">
                        <label for="">3 Star</label>
                        <input type="radio" name="" id="">
                    </div>
                    <div class="sgrt">
                        <label for="">4 Star</label>
                        <input type="radio" name="" id="">
                    </div>
                    <div class="sgrt">
                        <label for="">5 Star</label>
                        <input type="radio" name="" id="">
                    </div>
                </div>
            </div>
            <div class="question rating">
                <h3>Question - 15</h3>
                <div class="rate">
                    <div class="sgrt">
                        <label for="">1 Star</label>
                        <input type="radio" name="" id="">
                    </div>
                    <div class="sgrt">
                        <label for="">2 Star</label>
                        <input type="radio" name="" id="">
                    </div>
                    <div class="sgrt">
                        <label for="">3 Star</label>
                        <input type="radio" name="" id="">
                    </div>
                    <div class="sgrt">
                        <label for="">4 Star</label>
                        <input type="radio" name="" id="">
                    </div>
                    <div class="sgrt">
                        <label for="">5 Star</label>
                        <input type="radio" name="" id="">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="emp">
        hello
    </div>
</body>

</html>